<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] </title>
    @{
        var metaDescription = ViewData["MetaDescription"];
        var metaKeyword = ViewData["MetaKeyword"];
        var copyright = ViewData["Copyright"];
        var author = ViewData["Author"];
    }
    <meta name="description" content="@metaDescription">
    <meta name="keywords" content="@metaKeyword" />
    <meta name="copyright" content="@copyright" />
    <meta name="author" content="@author" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS Style -->
    @RenderSection("Style", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/client-side/style.css">
        <link rel="stylesheet" href="~/client-side/css/style.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/client-side/style.css">
        <link rel="stylesheet" href="~/client-side/css/style.min.css">
    </environment>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TL8WVRH');</script>
    <!-- End Google Tag Manager -->
    @*<link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />*@
</head>

<body class="@ViewData["BodyClass"]">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- mobile menu -->
    @await Component.InvokeAsync("MobileMenu")
    <!-- end mobile menu -->
    <div id="page">

        <!-- Header -->
        @await Html.PartialAsync("_Header.cshtml")
        <!-- end header -->
        <nav>
            <div class="container">
                <div class="row">
                    <div class="mm-toggle-wrap">
                        <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                        <span class="mm-label">All Categories</span>
                    </div>
                    <div class="col-md-3 col-sm-3 mega-container hidden-xs">
                        @await Component.InvokeAsync("CategoryMenu")

                    </div>
                    <div class="col-md-9 col-sm-9 jtv-megamenu">
                        @await Component.InvokeAsync("MainMenu")
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()
        <!-- Footer -->
        @await Html.PartialAsync("_Footer.cshtml")

        <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>

        <!-- End Footer -->
    </div>


    <environment names="Development">
        <!-- JS -->
        <!-- jquery js -->
        <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>

        <!-- owl.carousel.min js -->
        <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>

        <!-- jquery.mobile-menu js -->
        <script type="text/javascript" src="~/client-side/js/mobile-menu.js"></script>

        <!--jquery-ui.min js -->
        <script type="text/javascript" src="~/client-side/js/jquery-ui.js"></script>

        <!-- main js -->
        <script type="text/javascript" src="~/client-side/js/main.js"></script>

        <!-- countdown js -->
        <script type="text/javascript" src="~/client-side/js/countdown.js"></script>

        <!-- Slider Js -->
        <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>
        <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
        <script src="~/client-app/shared/structures-client.js"></script>
        <script src="~/client-app/base/index.js"></script>
        <script src="~/lib/notifyjs/dist/notify.js"></script>
        <script src="~/lib/mustache/mustache.js"></script>
    </environment>

    <environment names="Staging,Production">
        <!-- JS -->
        <!-- jquery js -->
        <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>

        <!-- owl.carousel.min js -->
        <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>

        <!-- jquery.mobile-menu js -->
        <script type="text/javascript" src="~/client-side/js/mobile-menu.min.js"></script>

        <!--jquery-ui.min js -->
        <script type="text/javascript" src="~/client-side/js/jquery-ui.min.js"></script>

        <!-- main js -->
        <script type="text/javascript" src="~/client-side/js/main.min.js"></script>

        <!-- countdown js -->
        <script type="text/javascript" src="~/client-side/js/countdown.min.js"></script>

        <!-- Slider Js -->
        <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>
        <script src="~/client-app/shared/structures-client.js"></script>
        <script src="~/client-app/base/index.js"></script>
    </environment>
    <script>
        var Baseobj = new BaseController()
        Baseobj.initialize();
    </script>
    @RenderSection("Scripts", required: false)
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL8WVRH"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

</body>
</html>
