<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] </title>
    @{
        var metaDescription = ViewData["MetaDescription"];
        var metaKeyword = ViewData["MetaKeyword"];
        var copyright = ViewData["Copyright"];
        var author = ViewData["Author"];
    }
    <meta name="description" content="@metaDescription">
    <meta name="keywords" content="@metaKeyword" />
    <meta name="copyright" content="@copyright" />
    <meta name="author" content="@author" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS Style -->
    @RenderSection("Style", required: false)
</head>

<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)

</body>

</html>
